%div.session_links
  - flash.each do |name, msg|
    = content_tag :div, msg, :class => "flash_message #{name}" if msg.is_a?(String)

%section.desc
  = markdown(@editpage.content)

%section
  = render @events
  = will_paginate @events

  %p.suscribe-home
    %a.cta{:href=> "http://eepurl.com/u0LCj"} Subscribe to our Mailing List