.content
  .intro
    %h1 Kids Code Camp
    %h2 Teaching Kids To Code, One Planet At A Time!

  %section.nextevent
    %h1 Alpha 1: April 22 in Austin, Texas @ RailsConf
    %p Our first alpha version of KidsCodeCamp will be taking place on April 22 in Austin, Texas, in participation with RailsConf 2012. 
    %p For more information, or to register, please go to <a href="http://kidscodecamp-railsconf2012.eventbrite.com/">http://kidscodecamp-railsconf2012.eventbrite.com/</a>

  %section.nextevent
    %h1 Alpha 2: May 19 in Pasadena, California @ the Pasadena STEM Expo
    %p Our second alpha version of KidsCodeCamp will be taking place on May 19 in Pasadena, California, in participation with the Pasadena STEM Expo 2012.
    %p For more information, or to register, please go to <a href="http://kidscodecamp-pasadena2012.eventbrite.com/">http://kidscodecamp-pasadena2012.eventbrite.com/</a>

  %section.nextevent
    %h1 Alpha 3: May 20 in Minneapolis, Minnesota @ JRubyConf
    %p Our third alpha version of KidsCodeCamp will be taking place on May 20 in Minneapolis, Minnesota, in participation with JRubyConf 2012. 
    %p For more information, or to register, please go to <a href="http://kidscodecampmn.eventbrite.com/">http://kidscodecampmn.eventbrite.com/</a>

  %section.howitworks
    %h1 What Is KidsCodeCamp?
    %p Here is how KidsCodeCamp works:
    %p Local volunteers will run hands-on classes intended for a particular age group (elementary, middle, or high-school age kids). Each class is from 1 to 2 hours long.
    %p Kids register for free, just so everyone knows how many people will be coming.
    %p Everyone has fun on the day of KidsCodeCamp!

  %section.mailinglist
    %h1 Subscribe to our Mailing List
    %form#signup{:action => '/signup'}
      = text_field_tag :email
      = image_submit_tag "submit.png"

  %section.followus
    = image_tag "twitter.png"
    %span Follow Us
    = link_to "@kidscodecamp", "http://www.twitter.com/kidscodecamp", :target => "_blank"

  %section.brought
    .text Brought to you by:
    = link_to image_tag("hybrid.png"), "http://hybridgroup.com"
    = link_to image_tag("retreat.png", :width => 182), "http://coderetreat.org"
