.content
  .intro
    %h1 Kids Code Camp
    %h2 Coming Soon...

  %section.mailinglist
    %h1 Subscribe to our Mailing List
    %form#signup{:action => '/signup'}
      = text_field_tag :email
      = image_submit_tag "submit.png"

  %section.followus
    = image_tag "twitter.png"
    %span Follow Us
    = link_to "@kidscodecamp", "http://www.twitter.com/kidscodecamp", :target => "_blank"

  %section.brought
    .text Brought to you by:
    = link_to image_tag("hybrid.png"), "http://hybridgroup.com"
    = link_to image_tag("retreat.png", :width => 182), "http://coderetreat.org"
