.content
  .home-container

    %h1.headline Boards
    %br
    = render :partial => "layouts/boards_top"

    - @boards.each do |board|
      -if board.posts.size > 0
        %table.forum
          %tr.header
            %th.topics= board.name
            %th.replies Replies
            %th.views Views
            %th.last Last Post
          -board.posts.each do |post|
            %tr.posts
              %td.topics
                = link_to post.title, post
                %p.on= "by #{post.user.username} on #{post.created_at.strftime("%a %b %d, %Y %l:%M %P")}"
              %td.replies= post.descendants.size
              %td.views= post.impressions_count
              %td.last
                .on.by= "by #{post.subtree.last.user.username}"
                %p.on= "on #{post.subtree.last.created_at.strftime("%a %b %d, %Y %l:%M %P")}"
          
        = link_to "New Topic", new_post_path(:board_id => board.id), :class => "new-topic"