%tr
  %th Category
  %th Created
  %th Topics
  %th Posts
  %th Last post by

- @categories.each do |category|
  - topics = category.posts.where(:parent_id => nil)
  - last_resp = category.posts.last
  %tr
    %td
      %h3.title= link_to category.title, posts_path(:category => category.id)
      .desc= category.description
    %td= category.created_at.strftime("%a, %D %R")
    %td= topics.count
    %td= category.posts.size
    %td
      - if last_resp
        #{last_resp.created_at.strftime("%a, %D %R")} by #{gravatar(last_resp.user,:size => '18')} #{content_tag('strong',last_resp.user.username)}
      - else
        \–