- editable = user_signed_in? && (current_user.is_admin == 1 || post.user_id == current_user.id) && action_name == 'show'
%tr.separator
  %td.post_title
    %h3.blue-title.title= post.title
%tr
  %td.post_created Posted by #{content_tag('strong',post.user.username)} – #{post.created_at.strftime("%a, %b %e %Y at %R")}
%tr
  %td.post_content= post.content
- if editable
  %tr.actions
    %td
      = link_to('Edit', edit_post_path(post)) + ' | '
      = link_to 'Destroy', post_path(post), :method => :delete, :data => { :confirm => 'Are you sure?' }
