- editable = user_signed_in? && (current_user.is_admin? || post.user_id == current_user.id) && action_name == 'show'
.topics
  .td.post_created #{gravatar(post.user)} Posted by #{content_tag('strong',post.user.username)} – #{post.created_at.strftime("%a, %b %e %Y at %R")}
  .td.post_content= post.content
  - if editable
    .td.action
      = link_to('Edit', edit_post_path(post)) + ' | '
      = link_to 'Destroy', post_path(post), :method => :delete, :data => { :confirm => 'Are you sure?' }