%tr
  %th Topic
  %th Created
  %th Replies
  %th Last post by

- @posts.each do |post|
  - last_resp = post.responses.last
  %tr
    %td
      %h3.title= link_to post.title, category_post_path(post.category,post)
      by #{gravatar(post.user,:size => '18')} #{content_tag('strong',post.user.username)}
    %td #{post.created_at.strftime("%a, %D %R")}
    %td #{post.responses.length}
    %td
      - if last_resp
        #{last_resp.created_at.strftime("%a, %D %R")} by #{content_tag('strong',last_resp.user.username)}
      - else
        \–