= render :partial => "devise/session_links"
%h1.section-title Our Community
.community_controls
  %p
    - if @posts.present?
      = link_to 'Categories', posts_path(:category => nil)
      \| 

    - if !current_user.nil?
      = link_to 'New Post', new_post_path
    - else
      = link_to 'Login to Post', login_path

.topics
  %table
    = render "posts/#{@posts.blank? ? 'categories' : 'posts'}"

- unless @posts.blank?
  = will_paginate @posts