= render :partial => "devise/session_links"
%h1.section-title Community
.community_controls
  = form_tag(filter_posts_path, :class => 'category_select') do
    = submit_tag "Filter by:"
    = select_tag(:category, options_for_select(['All','General','Discussion','Teachers'],params[:category]))
  %p
    - if !current_user.nil?
      = link_to 'New Post', rails_admin.new_path('post')
    - else
      = link_to 'Login to Post', login_path

%table#topics-table
  %tr
    %th Topic
    %th Author
    %th Category
    %th Created

  - @posts.each do |post|
    %tr
      %td= link_to post.title, post
      %td= post.user.username
      %td= post.category
      %td= post.created_at.strftime("%a, %D at %R")

= will_paginate @posts