= render :partial => "devise/session_links"
%h1.section-title Our Community
.community_controls
  %p
    - unless @category_list
      = link_to 'Categories', posts_categories_path
      \| 
      = link_to 'New Post', new_category_post_path

.topics
  %table
    = render "posts/#{@category_list ? 'categories' : 'posts'}"

- unless @category_list
  = will_paginate @posts