= render :partial => "devise/session_links"
%h1.section-title Our Community
.community_controls
  - unless @posts.nil?
    = link_to 'New Post', {:action => 'new'}, :class => 'cta new_post_button'
    = link_to 'Categories', posts_path, :class => 'back'

.topics
  %table
    = render "posts/#{@posts.nil? ? 'categories' : 'posts'}"

- unless @posts.nil?
  = will_paginate @posts