.content
  .home-container
    %h1.headline CREATE A NEW TOPIC
    %br
    = render :partial => "layouts/user_controls"
    .contact-container
      - if @post.parent
        %h3= @parent.title
        %h5= @parent.created_at
        %p= @parent.body
      = render "form"