= render :partial => "devise/session_links"
%p.back= link_to '< Back', posts_path

%table#topics-table
  - if params[:page].blank? || params[:page] == 1
    = render @current_post
  = render @posts

- if user_signed_in? && @current_post.parent_id.blank?
  %h3 Add a response
  = render :partial => 'posts/form'
  
= will_paginate @posts