= render :partial => "devise/session_links"
= link_to 'Back', posts_path, :class => 'back'

- if @current_post && (params[:page].blank? || params[:page] == 1)
  %h2.blue-title.title= gravatar(@current_post.user, :size => 48) + content_tag('span',@current_post.title)
  = render @current_post
= render @posts

= will_paginate @posts

- if user_signed_in?
  #response_form
    %h3.title Add a response
    = render :partial => 'posts/form'
  