.content
  .home-container
    %h1.headline CONTACT US
    %br
    .contact-container
      = form_for @contact_form do |f|
        .field.column
          = f.label :name, "NAME"
          = f.text_field :name
        .field.column
          = f.label :email, "EMAIL"
          = f.email_field :email, :cols => 20 
        .field
          = f.label :message, "MESSAGE"
          = f.text_area :message, :size => "54x19"
        .actions
          = f.submit "Submit", :class => "contact-submit"
