%div.session_links
  %div.session_actions
    - if user_signed_in?
      = link_to('Logout', logout_path, :method=>'delete')
    - elsif action_name != 'new'
      = link_to('Log in', login_path)
      \- or -
      = link_to('Sign up', sign_up_path)
  - flash.each do |name, msg|
    = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)