= form_for @user, url: { action: (action_name == 'new' ? 'create'  : 'update') } do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :email, "Email"
    .input.text= f.text_field :email

  .control-group
    = f.label :username, "Username"
    .input.text= f.text_field :username

  .control-group
    %label.control-label
      .input.checkbox
        = f.check_box :is_admin
        = f.label :is_admin, "Admin?"

  .control-group
    = f.label :password, "Password"
    .input.password= f.password_field :password

  .control-group
    = f.label :password_confirmation, "Password confirmation"
    .input.password= f.password_field :password_confirmation

  .actions
    = f.submit 'Save'
