%aside
  .social
    = link_to "FOLLOWERS", "http://www.twitter.com/kidscodecamp"
    = link_to "FANS", "https://www.facebook.com/Kidscodecamp"
  %form#signup{:action => 'http://kanbanpad.us2.list-manage1.com/subscribe/post', :method => 'POST'}
    %p Subscribe to our newsletter to receive the latests news about KidsCodeCamp
    %input{:autocapitalize => "off", :autocorrect => "off", :name => "MERGE0", :type => "text", :value => ""}
    %input{:name => "u", :type => "hidden", :value => "281b52acbc791fcbe2127e282"}
    %input{:name => "id", :type => "hidden", :value => "67c6dbfbd1"}
    = image_submit_tag "bt-send.png"
  .twitter-widget
    %h3 KIDSCODECAMP on Twitter
    #tweets
  .sponsors
    %p KidsCodeCamp is created by:
    = link_to image_tag("logo-bw-hybrid.png"), "http://hybridgroup.com/"
    %p KidsCodeCamp is brought to you by:
    = link_to image_tag("logo-retreat.png", :size => "182x93" ), "http://coderetreat.org"
    = link_to image_tag("logo-att.png", :size => "182x62"), "http://www.att.com/"
    = link_to image_tag("logo-engineyard-horizontal.png", :size => "182x55"), "https://www.engineyard.com/"
    = link_to image_tag("logo-sphero.png", :size => "182x56"), "http://www.gosphero.com/"
    = link_to image_tag("logo-famigo.png", :size => "182x56"), "http://www.famigo.com/"
    = link_to image_tag("logo-ruby-central.png", :size => "182x179"), "http://rubycentral.org/"