.sidebar-container
  #social-box
    = link_to image_tag("button_rss.png"), "http://eepurl.com/u0LCj"
    = link_to image_tag("button_twitter.png"), "http://www.twitter.com/kidscodecamp"
    = link_to image_tag("button_facebook.png"), "https://www.facebook.com/pages/Hybrid-Group/227992253946972"
    .counter
      123
    .counter
      456
    .counter
      789
    .text
      READERS
    .text
      FOLLOWERS
    .text
      FANS
  %section.mailinglist
    .newsletter-text
      Subscribe to our newsletter to receive the latests news about KidsCodeCamp
    %form#signup{:action => '/signup'}
      = text_field_tag :email
      = image_submit_tag "button_send.png"
  .twitter-container
    .twitter-title
      KIDSCODECAMP on Twitter
    #tweets