!!!
%html
  %head
    %title Kids Code Camp - Teaching The Kids of Planet Earth To Code
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.tweetable.js"
    = csrf_meta_tags
  %body
    .haeder
      = image_tag "header_logo.png", :class => "header_sun"
      = image_tag "header_sun.png", :class => "header_logo"
      /= image_tag "menu_bar.png", :class => "menu_bar"
    #menu-container
      .menu-item
        = link_to "HOME", root_path
      .menu-item
        = link_to "ABOUT", "#"
      .menu-item
        = link_to "TOOLS & TOYS", tools_path
      .menu-item
        = link_to "LESSONS", lessons_path
      .menu-item
        = link_to "COMMUNITY", "#"
      .menu-item
        = link_to "CONTACT US", contact_forms_path
    .content
      = yield
      = render :partial => "layouts/sidebar"