!!!
%html
  %head
    %title Kids Code Camp - Teaching The Kids of Planet Earth To Code
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.tweetable.js"
    = csrf_meta_tags
  %body
    .haeder
      = image_tag "header_logo.png", :class => "header_sun"
      = image_tag "header_sun.png", :class => "header_logo"
      /= image_tag "menu_bar.png", :class => "menu_bar"
    #menu-container
      .menu-item
        HOME
      .menu-item
        ABOUT
      .menu-item
        TOOLS & TOYS
      .menu-item
        LESSONS
      .menu-item
        COMMUNITY
      .menu-item
        CONTACT US
    .content
      = yield